{{#if name}}
<li class="friend-card">
  <figure class="friend-card__foto">
    <img src={{image}} alt="friend foto: {{name}}" width="270" height="270">
    <figcaption class="friend-card__name">{{toUpperCase name}}</figcaption>
    <a class="button" href={{link}} target="_blank" rel="nofollow" title="Click to learn more">Learn more</a>
  </figure>
</li>
<!-- /.friend-list__card -->

{{else}}
<p>Data of this card is lost</p>
{{/if}}