{{#if name}}
<li class="friend-card">
  <figure class="friend-card__foto">
    <img src="{{image}}" alt="friend foto: {{name}}" width="270" height="270">
    <figcaption class="friend-card__name">
      {{name}}
      <a class="button" href="{{link}}" target="_blank" rel="nofollow"
        title="Click to learn more about this cutie">Learn
        more</a>
    </figcaption>
  </figure>
</li>
<!-- /.friend-list__card -->

{{else}}
<p>Data of this card is lost</p>
{{/if}}